{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 p-5">
    <div id="start-screen" class="text-center">
        <h1>Bienvenido al Formulario</h1>
        <p>Presiona el botón para iniciar el formulario.</p>
        <button type="button" class="btn btn-success" onclick="startForm()">Iniciar</button>
    </div>

    <form id="formulario" style="display:none;">
        
        {% for key, pregunta in preguntas.items %}

            <div class="step">

                <h3>{{ pregunta.titulo }}</h3>
                <label for="{{ key }}">{{ pregunta.pregunta }}</label>
                
                <input type="range" id="{{ key }}" name="{{ key }}" 
                       min="0" max="{{ pregunta.unidad|length|add:"-1" }}" value="0" 
                       class="form-control-range" oninput="updateValue(this, {{ pregunta.unidad|safe }})">
                <output id="{{ key }}Output" class="form-control" style="width: auto;">{{ pregunta.unidad.0 }}</output>
                
                <div class="button-group mt-3">
                    <button type="button" class="btn btn-danger" onclick="prevStep()">Anterior</button>
                    <button type="button" class="btn btn-success ms-2" onclick="nextStep()">Siguiente</button>
                </div>

            </div>
        {% endfor %}
    </form>

    <div id="resultados" style="display:none;">
        <h2>Resultados</h2>
        <ul id="listaResultados" class="list-group"></ul>
        <div id="planetasContainer" class="d-flex flex-wrap justify-content-center mt-3"></div>
        <button type="button" class="btn btn-success mt-3" onclick="restartForm()">Reiniciar Formulario</button>
    </div>
</div>

<script>
    let currentStep = 0;
    let steps = Array.from(document.querySelectorAll(".step"));
    const respuestas = {};

    const backgrounds = [
        'url("https://p4.wallpaperbetter.com/wallpaper/329/443/707/forest-path-fall-leaves-wallpaper-preview.jpg")',
        'url("https://p4.wallpaperbetter.com/wallpaper/764/431/702/river-trees-forest-clouds-wallpaper-preview.jpg")',
        'url("https://p4.wallpaperbetter.com/wallpaper/20/481/77/landscape-nature-lake-trees-wallpaper-preview.jpg")',
    ];

    function changeBackground() {
        document.body.style.backgroundImage = backgrounds[currentStep % backgrounds.length];
    }

    window.onload = function() {
        steps.forEach((step) => {
            const input = step.querySelector("input[type='range']");
            respuestas[input.id] = 0;
        });
    };

    function startForm() {
        document.getElementById("start-screen").style.display = "none";
        document.getElementById("formulario").style.display = "block";
        showStep(currentStep);
    }

    function showStep(step) {
        steps.forEach((element, index) => {
            element.classList.toggle("active", index === step);
        });
        changeBackground();
    }

    function calcularEnergia(respuestas) {
        // P1: Uso de dispositivos electrónicos
        const horasUso = Number(respuestas['p1']) * 66 || 0;
        
        // P2: Energía en la universidad
        const factorEficiencia = [1, 1.1, 1.2, 1.3][Number(respuestas['p2'])] || 1;
        
        // P3: Desperdicio Energético
        const consumoDispositivos = [0, 7.5, 15, 25][Number(respuestas['p3'])] || 0;
        
        // P4: Energía en las aulas
        const ahorroEnergia = [50, 30, 15, 0][Number(respuestas['p4'])] || 0;
        
        // los numeros 216 son para convertir en metricas anuales 
        
        return (216*(horasUso + consumoDispositivos + ahorroEnergia)) * factorEficiencia;
    }

    function calcularAgua(respuestas) {
        // P5: Uso de baños
        const consumoLitros = [0, 17.5, 40, 70, 95, 115][Number(respuestas['p5'])] || 0;
        
        // P6: Cerrar la llave
        const ahorroAgua = [7.5, 4, 2, 0][Number(respuestas['p6'])] || 0;
        
        // P7: Hidratación
        const usosBano = Number(respuestas['p7']) * 0.5 || 0;
        
        // P8: Desperdicios
        const residuos = [0, 9, 18, 27][Number(respuestas['p8'])] || 0;
        // los numeros 44.143 y 216 son para convertir en metricas anuales 
        return 44.143*consumoLitros + 216*(ahorroAgua + usosBano + residuos);
    }

    function calcularConciencia(respuestas) {
        // P9: Manejo de residuos
        const concienciaBase = 1;
        const factorP9 = Number(respuestas['p9']) === 0 ? 0.075 : 0;
        // P10: Reutilización de recipientes
        const factorP10 = [0.05, 0.025, 0.01, 0][Number(respuestas['p10'])] || 0;
        
        // P11: Compartir transporte
        const factorP11 = [0.05, 0.035, 0.02, 0.01, 0][Number(respuestas['p11'])] || 0;
        
        // P12: Medio de transporte
        const factorP12 = [0.05, 0.025, 0.01, 0][Number(respuestas['p12'])] || 0;
        
        return concienciaBase + factorP9 + factorP10 + factorP11 + factorP12;
    }

    function nextStep() {
        const input = steps[currentStep].querySelector("input[type='range']");
        respuestas[input.id] = Number(input.value) || 0;

        if (currentStep < steps.length - 1) {
            currentStep++;
            showStep(currentStep);
        } else {
            mostrarResultados();
        }
    }

    function prevStep() {
        if (currentStep > 0) {
            currentStep--;
            showStep(currentStep);
        }
    }

    function updateValue(input, unidad) {
        const outputId = input.id + "Output";
        const index = Number(input.value) || 0;
        document.getElementById(outputId).value = unidad[index];
        respuestas[input.id] = index;
    }

    function mostrarResultados() {
        document.getElementById("formulario").style.display = "none";
        document.getElementById("resultados").style.display = "block";
        const listaResultados = document.getElementById("listaResultados");
        const planetasContainer = document.getElementById("planetasContainer");
        listaResultados.innerHTML = '';
        planetasContainer.innerHTML = '';

        Object.keys(respuestas).forEach(key => {
            respuestas[key] = Number(respuestas[key]) || 0;
        });

        const energia = calcularEnergia(respuestas) || 0;
        const agua = calcularAgua(respuestas) || 0;
        const conciencia = calcularConciencia(respuestas) || 1;
        // x es el factor de desperdicio de agua en relacion a la energia
        const x = 100 * (agua / energia);

        // esta parte esta sujeta a cambios con los compañeros de agroambiental
        const universidadEnergia = 1000000;
        const universidadAgua = 100000;
        const y = 100 * (universidadAgua / universidadEnergia);

        const huellaTotal = conciencia * ((agua) + energia);
        const huellaTotalpuntaje = conciencia * ((x*agua) + energia);

        const consumoTotalUniversidad = (y*universidadAgua + universidadEnergia)/10;
        const huellaUniversidad = huellaTotalpuntaje/consumoTotalUniversidad;

        listaResultados.innerHTML = `
            <li class="list-group-item">Consumo de Energía: ${energia.toFixed(2)} Wh</li>
            <li class="list-group-item">Consumo de Agua: ${agua.toFixed(2)} L</li>
            <li class="list-group-item">Factor de Conciencia: ${conciencia.toFixed(2)}</li>
            <li class="list-group-item">Huella Total Universidad: ${huellaUniversidad.toFixed(2)}</li>
        `;

        // Renderizar planetas basado en huellaUniversidad
        const numeroEntero = Math.floor(huellaUniversidad);
        const decimal = huellaUniversidad - numeroEntero;

        // Agregar planetas completos
        for(let i = 0; i < numeroEntero; i++) {
            const planeta = document.createElement('img');
            planeta.src = "{% static 'images/planeta.png' %}";
            planeta.style.width = '100px';
            planeta.style.height = '100px';
            planeta.style.margin = '5px';
            planetasContainer.appendChild(planeta);
        }

        // Agregar planeta parcial si hay decimal
        if(decimal > 0) {
            const planetaParcial = document.createElement('img');
            planetaParcial.src = "{% static 'images/planeta.png' %}";
            planetaParcial.style.width = '100px';
            planetaParcial.style.height = '100px';
            planetaParcial.style.margin = '5px';
            planetaParcial.style.opacity = decimal;
            planetasContainer.appendChild(planetaParcial);
        }
    }

    function restartForm() {
        currentStep = 0;
        Object.keys(respuestas).forEach(key => {
            respuestas[key] = 0;
        });
        
        document.getElementById("resultados").style.display = "none";
        document.getElementById("start-screen").style.display = "block";
        
        steps.forEach(step => {
            const input = step.querySelector("input[type='range']");
            input.value = 0;
            const unidad = JSON.parse(input.getAttribute('oninput').match(/\((.*?)\)/)[1].split(',')[1]);
            document.getElementById(input.id + "Output").value = unidad[0];
        });
        changeBackground();
    }
</script>

    <style>
        /* Ocultar todos los pasos por defecto */
        .step, #formulario {
            display: none;
        }
        /* Mostrar el paso activo */
        .active {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .button-group {
            display: flex;
            justify-content: center; /* Centra los botones horizontalmente dentro del contenedor */
            margin-top: 20px; /* Ajusta el margen superior según sea necesario */
        }
        #resultados {
            text-align: center;
          }
        
          #resultados button {
            margin: 0 auto;
        }  
        .btn-danger, .btn-success {
            /* Estilos para los botones */
            padding: 15px 30px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            flex: 1; /* Hace que los botones ocupen el mismo espacio disponible */
        }
          
        .btn-danger {
            background-color: #F44336;
        }

        #start-screen {
            text-align: center;
            padding: 50px;
        }
        input[type="range"]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            background-color: #a4f3eb;
            border-radius: 5px;
            height: 16px;
            cursor: grab;
        }
        
        input[type="range"]::-ms-thumb {
          -webkit-appearance: none;
          width: 40px;
          background: goldenrod;
        }

    /* Body y .container no borrar, hacer pruebas con las demas */
        body, html {
            height: 100%;
            margin: 0;
            background-image: url('https://p4.wallpaperbetter.com/wallpaper/274/570/535/nature-trees-hills-mist-wallpaper-preview.jpg');
            background-size: cover; /* La imagen cubrirá toda la pantalla */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            transition: background-image 0.5s ease-in-out;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave */
            width: 80%;
            max-width: 400px;
            min-height: 200px;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        @media (max-width: 600px) {
            input[type="text"] {
                width: 100%;
            }
            #formulario {
                width: 100%;
                margin: 20px;
            }
        }
    </style>

{% endblock %}
